@font-face {
	font-family: "Milky Coffee";
	src: url("fonts/milky_coffee/Milky_Coffee.ttf");
}

@font-face {
	font-family: "Handlee";
	src: url("fonts/handlee/Handlee-Regular.ttf");
}

* {
  box-sizing: border-box;
}

/* Style du body */
body {
	font-family: Arial;
	margin: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #DFD8D1;
	/* overflow: hidden; */
	position: relative;
}

.centrageTexte {
	text-align: center;
}

/*---------------------------------------------------------------------------------------------------*/
/* Header */

.header {
	font-family: "Milky Coffee", sans-serif;
	background: #F58E54;
	color: black;

	position: fixed;

	display: flex;
	flex-direction: row;
	height:80px;
	width: 100%;

	box-shadow: 0px 0px 10px #000,
	0px 0px 30px #777;
	
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;

	z-index: 2;
}

.accueil {
	width: 30%;
	display: flex;
}

/* Mascotte */

.accueil .mascotte {
	text-align: center;
	overflow: visible;
	width : 20%;
}

.image_mascotte {
	z-index: -1;
	width: 75%;
	height: 98px;
}

.image_mascotte2 {
	z-index: -1;
	width: 75%;
	height: 115px;
}

.accueil .titre{
	text-align: center;
	color:black;
	padding:3px;
	text-shadow: 1px 1px 2px grey;
	width: 80%;
}

.boite_recherche{
	width: 40%;
	margin: 0px;
}


.lienDiscret{
	text-decoration:none;
	color:black;	
}

/* barre de recherche */

#boutonLoupe { 
	position: absolute; 
	left:791px;
	top:14px;
	
	border: none;
	background-color: rgba(255,255,255,0);
	width:60px;
	height:40px;
	
	border-radius:25px;
}

#loupe{
	width:80%;
}

.centrage{
	display: flex; /* contexte sur le parent */
	flex-direction: column; /* direction d'affichage verticale */
	justify-content: center;
	align-items: stretch;
}

.saisieRecette{
	font-family: "Handlee", sans-serif;
	
	font-weight: bold;
 	position: relative;
	
	width:100%;
	height: 40px;
	
	font-size: 14px;
	
	background-color:white;

	box-shadow: 0px 0px 5px #000,
                0px 0px 15px #777;
				
	border-radius: 25px;
	border: none;
	border-bottom: 1px solid hsl(0, 0%, 90%);
	padding-left:10px;

	z-index: 0;
	outline: none;
}

/* icones cliquables */

.navbar {
	flex:3.5 1 0;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content:end;
}


.iconenav{
	flex:1 1 0;
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	
	color:black;
	text-decoration:none;
	
	position: relative;
	padding: 0 3px;
	transition: 0.4s ease;
}

.iconenav:hover{
	color:#ccc;
	
}

.iconenav::before{
	content: '';
	width: 100%;
	height: 0%;
	border-radius:10px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: 0.4s ease;
	
}

.iconenav:hover::before{
	height:100%;
	mix-blend-mode:difference;
	
}

.icone_texte{
	text-align:center;
	object-fit:contain;
	padding-top: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;	
}

.image_icone {
	width:40%;
	aspect-ratio:3/2;
	object-fit:contain;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	margin-top: -5px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.lien_icone {
	width:20%;
	margin: 10px;
}


/*---------------------------------------------------------------------------------------------------*/

/* menuGauche */
.menuGauche {
	background-color: #52A8B4;

	flex-direction: column;
	width: 20%;
	margin-top: 80px;
	height: 100%;
	position: fixed;
	z-index: 1;

	box-shadow: 0px 0px 5px #000,
				0px 0px 15px #777;
}

.fondVert{
	background-color:#75D45B;
}

.side {

	background-color: #52A8B4;
	
	padding-top: 70px;
	border-right: solid #A3A3A3 4px; 

	font-family: "Handlee", sans-serif;

	width: 20%;
	display: flex;
	height: 100%;
}


.side1 {
	height: auto;
	font-family: "handlee", sans-serif;
}

.side2 {
	height: 55%;
}

.side2-2 {
	height: 70%;
	overflow-y: scroll;
	overflow:auto;
}

.side2-2::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}

.side2-2::-webkit-scrollbar-track {
  background: #52A8B4; /* color of the tracking area */
  border-radius: 40px;
}

.side2-2::-webkit-scrollbar-thumb {
  background-color: #A4A9A4; /* color of the scroll thumb */
  border-radius: 40px; /* roundness of the scroll thumb */
  border: 5px solid #52A8B4;
}

.side3 {
	height: auto;
	width: 100%;
}

.saisieIngredient {

	font-family: "Handlee", sans-serif;
	
	font-weight: bold;
	
	width:95%;
	height: 40px;
	margin: 0px 5px;
	
	font-size: 14px;
	
	background-color:white;

	box-shadow: 0px 0px 5px #000,
                0px 0px 15px #777;
				
	border-radius: 25px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	padding-left:10px;

	outline: none;

}

.selectFiltreRecette{
	font-family: "Milky Coffee", sans-serif;
	text-align: center;
	background: #FFFFFF;
	color: black;
	display:grid;
	margin-top : 3px;
	margin-left: auto;
	margin-right:auto;
	height: 15%;
	width: 80%;
	border-radius: 10px;
	font-size: 1.25em;
}

.optionFiltreRecette{
	font-size:1.25em;
	font-family: "Milky Coffee", sans-serif;
	text-align: center;
	color: black;
	height: 100%;
	width: 70%;
}

#formFiltres{
	display:flex;
	flex-direction:column;
	
	height:100%;
}

.colonneFiltres {
	height: 60%;
	overflow-y: scroll;
	overflow:auto;
	justify-content:center;
	margin-bottom:15px;
	border-top: #F58E54 solid 10px;
	border-bottom: #F58E54 solid 10px;
	padding-bottom: 15px;
	
	text-align:center;
}

.colonneFiltres::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}

.colonneFiltres::-webkit-scrollbar-track {
  background: #75D45B; /* color of the tracking area */
  border-radius: 40px;
}

.colonneFiltres::-webkit-scrollbar-thumb {
  background-color: #A4A9A4; /* color of the scroll thumb */
  border-radius: 40px; /* roundness of the scroll thumb */
  border: 5px solid #75D45B;
}

#titreFiltre{
	margin-top : 20px;
	font-family: "Milky Coffee", sans-serif;
	text-align: center;
	color: black;
	height: auto;
	width: auto;	
}

#messageErreurListeIngre{
	color:blue;
	padding: 2px;
	text-align:center;
}

#rechercheViaIngre {

	font-family: "Handlee", sans-serif;
	
	font-weight: bold;
	text-align: center;
	
	width:95%;
	height: 40px;
	margin: 0px 5px;
	
	font-size: 14px;
	
	background-color:#F58E54;

	box-shadow: 0px 0px 5px #000,
                0px 0px 15px #777;
				
	border-radius: 25px;
	border: none;
	border-bottom: 1px solid #9d9d9d;
	padding-left:10px;

	outline: none;
	cursor: pointer;
}

.listeIngredients{
	list-style-type:none;
}

.listeIngredients form{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.listeIngredients li{
	height:auto;
	
}

.image-point-orange{
	height:30%;
	margin-top:auto;
	margin-bottom:auto;
	margin-right:5px;
}

.listeIngredients p{
	height:auto;
	width:33%;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:10px;
	font-weight:bold;
}

.listeIngredients input{
	height:30%;
	width:auto;
	margin-top:auto;
	margin-bottom:auto;
	margin-left:10px;
	
	padding:3px;
	border-radius:5px;
	font-weight:bold;
	background-color:#F58E54;
	border:none;
}


h1{
	text-align: center;
	color:black;
	padding:3px;
	text-shadow: 1px 1px 2px grey;

}

h2{
	text-align: center;
	color: black;
	height: 5%;
}

h3{
	margin : 20px;
	font-size : 2em;
	font-family: "Milky Coffee", sans-serif;
	text-align: center;
	color: black;
	display:grid;
	height: 5%;
	width: 80%;
	border-radius: 10px;
}

h4{
	font-family: "Handlee", sans-serif;
	color: black;
	font-size: 1.5em;
}

h5{
	font-family: "Handlee", sans-serif;
	color: white;
	font-size: 1.5em;
	text-decoration:underline;
}


/*---------------------------------------------------------------------------------------------------*/

/* Main */
.main {
	background-color: #DFD8D1;

	flex-direction: column;
	
	display: flex;
	width: 80%;
	height: 100%;
	margin-top: 80px;
	margin-left: 20%;
	padding-left: 20px;
	margin-bottom: auto;
	/*
	overflow-y: scroll;
	overflow:auto; */

	min-height:100vh;
	z-index: 0;
}


.mainConnexion {
	background-color: #DFD8D1;

	flex-direction: column;
	
	display: flex;
	width: 100%;
	height: 100%;
	margin-top: 80px;
	padding-left: 20px;
	margin-bottom: auto;
	/*
	overflow-y: scroll;
	overflow:auto; */

	min-height:100vh;
	z-index: 0;
}


/* Admin */
.colonneGest {
	display : flex;
	flex-direction:column;
	flex-wrap : wrap;
	justify-content:center;
}

.centrageTexte{
	text-align: center;	
	font-family:Handlee
}

.panneauSide{
	background-color: #aaa;
	width: auto;
	padding: 3px;
	border-radius: 20px;
	margin-left:5%;
	margin-right:5%;
}

.panneauSide:hover{ /*grossissement du bouton au passage dessus*/
	
	background-color : #52A8B4;
	transition: ease-in 0.2s;
	border:4px white solid;
	/*
	transform: scale(1.1);
	*/
}

.lienPageModif{
	width: auto;
	text-decoration:none;	
	color : white;
	margin:1%;
	
}

.textSide{
	font-family:Handlee;
	text-align:center;
	font-size:120%;
}

#retourAccueil{
	text-decoration:none;
	color:white;
	font-size: 150%;
	
}

#titreAdmin{
	color:white;
}

.imageRefRI{
	width : 20%;
}

.texteGras{
	font-weight : bold;
}

hr{
	height:5px;
}

.tabLaterale{
	display:flex;
	/*grid-template-columns: 20% 50% 30%;
	grid-template-areas: "titre barre logos";
	*/
	flex-direction:row;
	flex-wrap : wrap;
	justify-content:start;
}

.panneauLateral{
	width: auto;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 20px;
	box-sizing: border-box; 
}

.block
{
  margin: 0 auto;
  max-width: 900px;  
}

.input-res
{
  /* width: 100%; */
  max-width: 500px;
  margin: 0;
  box-sizing: border-box; 
}


/* boutons stylisés */
.bouton {
  position: relative;
  display: inline-block;
  margin: 1%;
  padding: 0.5% 2%;
  text-align: center;
  font-size: 100%;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 white;
}

.bouton:hover {
  color: white;
  border:2px solid white;
  box-shadow: inset 0 -100px 0 0 #52A8B4;
}

.bouton:active {
  transform: scale(0.9);
}



#texteRetourAccueil {
  color: white;
  text-decoration: none;
  font-size: 100%;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

#texteRetourAccueil::before {
  margin-left: auto;
}

#texteRetourAccueil::after, #texteRetourAccueil::before {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  transition: 0.5s;
}

#texteRetourAccueil:hover::after, #texteRetourAccueil:hover::before {
  width: 100%;
}

.souligner{
	text-decoration:underline;
}


/* bouton retour à l'accueil stylisé pour page recettes */

.retourAccueilRecettes {
  --primary-color: #52A8B4;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 12px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  text-decoration:none;
  
  width:22%;
  margin-top:20px;
}

.retourAccueilRecettes .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.retourAccueilRecettes .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.retourAccueilRecettes .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.1s;
  padding: 3px;
  transform: rotate(135deg);
}

.retourAccueilRecettes:hover {
  background-color: var(--hover-color);
}

.retourAccueilRecettes:hover .arrow {
  background: var(--secondary-color);
}

.retourAccueilRecettes:hover .arrow:before {
  right: 5px;
}

/*---------------------------------------------------------------------------------------------------*/
/* Footer */
.footer {
	margin-top: auto;
	height: 60px;
	text-align: center;
	background: #F58E54;
	width:100%;
	margin-left: -20px;
	margin-right: 20px;

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}


.footerConnexion {
	height: 60px;
	background: #F58E54;
	width:90%;

	margin-top:30px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}
  
.flex-footer{
	display:flex;
	flex-direction:row;
	
}

.boutonFooter{
	margin :20px;
	cursor: pointer;
}


/*---------------------------------------------------------------------------------------------------*/

/* Layout pour les écrans de moins de 800px de largeur 
*
* Layout responsive - si écran de moins de 800px de largeur, 
* le side et le main passent l'un en dessous de l'autre au lieu de l'un à côté de l'autre 
*/
@media only screen and (max-width: 800px) {
	.container {
	  flex-direction: column;
	}
	
	.side, .main {
	  flex: none;
	  width: 100%;
	}
  }



/* Layout responsive - si écran de moins de 600px de largeur, 
le side et le main passent l'un en dessous de l'autre au lieu de l'un à côté de l'autre
Les ingrédients passent en icone à ouvrir */

/* Responsive */
@media only screen and (max-width: 600px) {
	/* Header */
	.header {
	  flex-direction: column;
	  height: auto;
	}
	.accueil {
	  width: 100%;

	}
	.accueil .mascotte {
	  display: none;
	}
	.accueil .titre {
	  width: 100%;
	}
	.boite_recherche {
	  width: 100%;
	}

	.iconenav {
		margin-top: 5px;
	}

	#boutonLoupe {
	  left: auto;
	  right: 10px;
	}

	/* Menu Gauche */
	.menuGauche {
	  width: 100%;
	  height: auto;
	  position: relative;
	  margin-top: 20px;
	  box-shadow: none;
	}
	.side {
	  width: 100%;
	  border-right: none;
	  padding-top: 0px;
	  flex-direction: row;
	}
	.side1, .side2, .side3 {
	  height: auto;
	  width: 33.33%;
	}
	.saisieIngredient {
	  margin: 5px 5px 10px 5px;
	}
  }

/* Layout responsive - si écran de moins de 360px de largeur, le side et le main passent l'un en dessous de l'autre au lieu de l'un à côté de l'autre */

@media (max-width: 900px) {
	.row, .navbar {   
		flex-direction: column;
	}
  
	#fondDroiteHeader{
		background-color:#52A8B4;
	}
  
	#fondGaucheHeader{
		border-style: none;
	}
	
	h1{
		text-align:center;
		font-size:20px
		/*peut le rendre très petit ou le supp quand gros zoom et agrandir la barre de recherche et icones a la place ou mettre les trucs les uns en dessous des autres*/
	}
	
	#containerHeader{
		flex-direction:column;
	}
	
	.side {
		padding-top: 150px;
		border:none;
	}

	.main {
		padding-top: 150px;
		
	}
	
	.navbar{
		flex-direction:row;
		justify-content:start;
		align-items:center;
	}
	
}

@media (max-width: 1100px) {
	
	.colonneGest{
		flex-direction:row;
		justify-content: space-between;
	}
	
	.panneauSide{
		height:100%;
	}
	
	.lienPageModif{
		flex: 1 1 0;
	}
	
	.categ{
		font-size:100%;
	}
	
	.imageRefRI{
		width : 75%;
	}
	
}

@media (max-width: 400px) {
	
	.bouton{
		font-size:70%;
	}
	
	.adaptBouton{
		font-size:50%;
	}
}

@media (max-width: 300px) {
	
	.bouton{
		font-size:70%;
	}
	
	.adaptBouton{
		font-size:40%;
	}
}


/* ------------------------------------- Petite affiche Recette -----------------------------------*/ 

.recette {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	overflow: hidden;
	background-color: #9d9d9d;
	border-radius: 15px; /* ajoute des bords arrondis */
	border:3px solid white;
  }
  
  .RecetteGauche {
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	background-color: #9d9d9d;
	border-right:3px solid white;
  }
  
  .RecetteGauche h2 {
	font-size: 20px;
	margin: 0;
	padding-right: 10px;
	height: auto;
  }
  
  .recette-img {
	width: 100%;
	padding-bottom: 50%;
	position: relative;
	overflow: hidden;
	background-color: white;
	border-radius: 20px;
	border: 2px solid white;
  }
  
  .recette-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .RecetteGauche p {
	margin: 0;
	font-size: 14px;
  }
  
  .RecetteDroite {
	width: 50%;
	background-color: #9d9d9d;
  }
  
  .recette-info {
	padding: 5px;
	border-bottom: 3px solid white;
  }
  
  .recette-difficulte,
  .recette-temps {
	margin-bottom: 10px;
  }
  
  .recette-difficulte span,
  .recette-temps span {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .listeIng {
	list-style: none;
	padding: 3px;
	margin: 0;
  }
  
  .listeIngSolo {
	font-size: 14px;
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
  }

  .contentR {
	display: flex;
	flex-wrap: wrap;
	flex-direction : row;
	width: 100%;
	height: auto;
	align-items:center;
  }
  
  .lienFicheRecette{
	color:black;
	text-decoration:none;
	border-radius : 15px;
	width: 40%;
	margin-bottom:15px;
	margin:15px;
}
  
/* .R1 {
	width: 40%;
	height: 40%;
	order: 1;
	margin-right: 10px;

  }
  
  .R2 {
	width: 40%;
	height: 40%;
	order: 3;
	margin-right: 10px;
  }
  
  .R3 {
	width: 40%;
	height: 40%;
	order: 2;
	margin-right: 10px;
  }
  
  .R4 {
	width: 40%;
	height: 40%;
	order: 4;
	margin-right: 10px;
  }
*/  
  
  
/* ------------------------------ Fiche Recette ------------------------------ */

.noBorder{
	border:none;
}

.dashed{
	border-style:dashed;
}

.nomRecette{
	font-size:250%;
	text-decoration:underline;
}
  
  
#containerPrincipalFiche{
	display: flex;
	flex-wrap: no-wrap;
	flex-direction:column;
	width: 90%;
	height:auto;
	background-color: #DFD8D1;
	border-radius: 15px;
	
	margin-left:5%;
	margin-right:5%;
	margin-bottom:30px;
}

#partieHaute{
	display:flex;
	flex-direction:row;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	border-bottom:5px solid white;	
}

#partieHauteGauche{
	width: 50%;
	box-sizing: border-box;	
	display:flex;
	flex-direction:column;
	align-items:center;
}

#imageEtoilesRecette{
	width:100%;
	box-sizing:content-box;
} 

#partieHauteDroite{
	width: 50%;
	height:auto;
	padding: 10px;
	justify-content:center;
	border-radius:15px;
	position: relative;
	
	margin-left:5%;
}

#imageFicheRecette{
	width:90%;
	overflow:hidden;
}

#imageFicheRecette img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius:15px;
	border: 6px white solid;
}

#partieBasse{
	display:flex;
	flex-direction:row;
	height: auto;
	padding: 5px;
	box-sizing: border-box;
}

#partieBasseGauche{
	width: 30%;
	box-sizing: border-box;
	border-right: 5px white solid;
	padding-left:5px;
	padding-right:5px;
}

#partieBasseGauche ul {
	list-style:disc;
}

#partieBasseDroite{
	width: 70%;
	box-sizing: border-box;
	padding-left:5px;
	padding-right:5px;
}

/*----------------------------------- POP UP NOTE RECETTE ---------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 10%;
    top: 10%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
	margin: 50px auto;
	width: 60%;
}

.modal form {
	padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #eee;
}
   
.modal input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
	  
.boutonValidationNote:hover {
    background: #2371a0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
	  
.boutonNotationIn {
    background: none;
    border-top: none;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: #02274a 1px solid;
    padding: 0 0 3px 0;
    font-size: 16px;
    cursor: pointer;
}
	  
.boutonNotationIn:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
}



/*-------------------------------- AJOUT FAVORIS -----------------------------*/


.imageFavori{
	width:70%;
}

.con-like {
  --red: rgb(255, 50, 100);
  position: relative;
  width: 50px;
  height: 50px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}



/*------------------------------------ SLIDER AGENDA -----------------------------*/


.containerAgenda{
	display: flex;
	overflow-x: scroll;
	padding: 24px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	scroll-snap-type: x mandatory;
	scroll-padding: 24px;
	border-radius: 8px;
	gap: 12px;
	margin: 2rem auto;
	margin-right:10px;
	margin-top:1%;
}

.containerAgenda .itemAgenda{
	flex: 0 0 40%; /*modifier le pourcentage pour gérer la largeur des items */
	background-color: #9CCB86;
	color:white;
	padding: 24px;
	border-radius: 8px;
	box-sizing: border-box;
	scroll-snap-align: start;
	
	justify-content:center;
	display:flex;
	flex-direction:column;
}

.containerAgenda::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  margin-right:10px;
}

.containerAgenda::-webkit-scrollbar-track {
  background: grey; /* color of the tracking area */
  border-radius: 40px;
  margin-right:10px;
}

.containerAgenda::-webkit-scrollbar-thumb {
  background-color:rgb(40, 42, 53); /* color of the scroll thumb */
  border-radius: 40px; /* roundness of the scroll thumb */
  border: 3px solid grey; /* creates padding around scroll thumb */
}


.recetteAgenda {
	background-position: center;
	background-size: cover;
	padding: 1em;
	text-align: center;
	border-radius:10px 10px 0 0;
	height:100%;	
	width:100%;
}

.recetteAgenda p{
	color:black;
	font-family: "Milky Coffee", sans-serif;
	color:white;
	font-size:100%;
}

.itemAgenda hr{
	background-color:black;
	border:none;
	height:10px;
	width:100%;
	border-radius:10px;
}

.lienFicheRecetteAgenda{
	color: white;
	text-decoration:none;
	width: 100%;
	height:85%;
}

.lienFicheRecetteAgenda:hover{
	border:white solid 3px;
	border-radius:10px 10px 0 0;
}

.conteneurRecettes{
	display:flex;
	flex-direction:column;
	justify-content:center;
	height:100%;
}

.partieMidi{
	height:50%;
	display:flex;
	justify-content:center;
	flex-wrap:no-wrap;
}

.partieSoir{
	height:50%;
	display:flex;
	justify-content:center;
	flex-wrap:no-wrap;
}

.dateJournee{
	height:auto;
	color:black;
	font-weight:bold;
	font-size:150%
}

.columnRecette{
	display:flex;
	flex-direction:column;
	flex-wrap:no-wrap;
	
	background-position: center;
	background-size: cover;
	text-align: center;
	border: 5px solid black;
	border-radius:15px;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:10px;
	
	
	height:100%;
	width:100%;
}

.suppressionRecetteAgenda{
	text-decoration:none;
	background-color:black;
	
	color:white;
	font-weight:bold;
	font-size:100%;
	height:16%;
	padding-left:2px;
	padding-right:2px;
	
	border-radius:0 0 10px 10px;
	border-top:5px solid black;
	
	cursor: pointer;
	transition: ease-out 0.3s;
}


.suppressionRecetteAgenda:hover {
  color: black;
  background-color:white;
}

/* ------- recherche d'une date -----------*/

#rechercheDate{
	display:flex;
	background-color:#9CCB86;
	
	align-items:center;
	
	padding:0.5%;
	padding-left:1%;
	border-radius:20px;
	width:45%;
	margin-left:1%;
}

#conteneurFiltreDate{
	display:flex;
	width:100%;
	align-items:start;
}

#rechercheDate input{
	margin-left:2%;
	margin-right:2%;
}

/* -------ajout Agenda -----------*/

.conteneurAjoutAgenda{
	display:flex;
	flex-direction:row;
	background-color:#9CCB86;
	
	align-items:center;
	
	padding:1%;
	width:90%;
	height:auto;
	margin-bottom:5%;
	border-radius:20px;;
}

#boxChoixDate{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-left:1%;
	margin-right:1%;
	padding-right:1%;
	
	border-right: 4px solid white;
	width:auto;
}

#boxChoixDate input{
	height:auto;
}

#boxChoixMidi{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-left:1%;
	margin-right:1%;
	padding-right:1%;
	
	border-right: 4px solid white;
	width:auto;
}

#boxChoixRecette{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-left:1%;
	margin-right:1%;
	padding-right:1%;
	
	border-right: 4px solid white;
	width:auto;
}

#boxValidation{
	display:flex;
	flex-direction:row;
	align-items:center;
	margin-left:1%;
	margin-right:1%;
	padding-right:1%;

	width:auto;
}



